.projectSection {
  background-color: var(--color5);
  display: flex;
  justify-content: center;
  padding: 72px 0px 104px 0px;
  position: relative;
}
.cardContainer {
  max-width: 390px;
  box-sizing: border-box;
}

.titleProject {
  font-family: var(--notoSerif);
  font-weight: 700;
  font-size: 32px;
  color: var(--color3);
  margin-bottom: 32px;
}

.boxCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.seeMore {
  font-family: var(--notoSans);
  font-weight: 700;
  font-size: 24px;
  color: var(--color2);
  margin-top: 24px;
  text-align: right;
}

.titleContactMe {
  font-family: var(--notoSerif);
  font-weight: 700;
  font-size: 44px;
  color: var(--color3);
  position: absolute;
  bottom: -8px;
  right: 18px;
  /* display: block; */
}

@media screen and (max-width: 400px) {
  .cardContainer {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 630px) {
  .projectSection {
    padding: 96px 0px 160px 0px;
  }
  .cardContainer {
    max-width: 600px;
  }

  .titleProject {
    font-size: 64px;
  }
  .boxCards {
    gap: 80px;
  }
  .seeMore {
    font-size: 32px;
    margin-top: 32px;
  }
  .titleContactMe {
    font-size: 96px;
    bottom: -17px;
  }
}

@media screen and (min-width: 1250px) {
  .projectSection {
    /* padding: 293px 0px 247px 0px; */
    padding: 96px 0px 160px 0px;
  }
  .cardContainer {
    max-width: 1285px;
    /* border: 1px solid green; */
  }

  .boxCards {
    gap: 80px;
  }
}
