.skills {
  padding: 0px 21px;
  box-sizing: border-box;
  height: 180px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: var(--color2);
}

.contain {
  display: flex;
  height: 98px;
  box-sizing: border-box;
  animation: desplazar 30s linear infinite;
  gap: 36px;
  /* border: 1px solid red; */
}

@keyframes desplazar {
  0%, 50% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-50% - 150px)); /* Ajusta el valor según el tamaño de las imágenes y el espacio entre ellas */
  }
}

.iconSkills {
  width: 96px;
  height: 96px;
  /* border: 1px solid blue; */
}




@media screen and (max-width: 390px) {
}

@media screen and (min-width: 431px) {
}

@media screen and (min-width: 630px) {
}

@media screen and (min-width: 1250px) {
}
