.divLogo {
  width: 190px;
  height: 37px;
  @media (max-width: 834px) {
    width: 140px;
    height: 27px;
  }
  @media (max-width:580px) {
    order:1;
  }
}
.nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color3);
  padding: 0px 1vw;
  @media (max-width:580px) {
    padding: 0px 20px;
  }
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
.navList li {
  color: var(--color5);
  font-family: var(--notoSans);
  @media (max-width: 834px) {
    font-size: 20px;
  }
}

.btnContact {
  background-color: transparent;
  border: 3px solid var(--color1);
  color: var(--color1);
  padding: 4px 24px;
  font-family: var(--notoSans);
  font-size: 24px;
  border-radius: 8px;
  font-weight: 500;
  @media (max-width: 834px) {
    font-size: 20px;
    padding: 0px 16px;
  }
  @media (max-width:580px) {
    order:2;
  }
}

.iconMenu{
  color:white;
}

/* ------------- para el bootstrap------------- */

.navbar-custom{
  background-color: var(--color3);
}