.navbar {
  padding: 20px 25px;
  background-color: var(--color3);
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;
width: 100%;
box-sizing: border-box;
  /* border: 1px solid var(--color1); */
}

.logo {
  width: 185px;
  height: 36px;
  order: 1;
}

.boxList {
  width: calc(100% - 50px);
  margin-left: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--color4);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  padding: 10px 25px;
  z-index: 1;
  /* border: 1px solid var(--color1); */
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.1);
}

.itemsUl {
  list-style-type: none;
  padding-left: 0;
  color: var(--color5);
  font-family: var(--notoSans);
  font-size: 24px;
  box-sizing: border-box;
  li {
    padding: 9px 0px;
    box-sizing: border-box;
  }
  a {
    /* border: 1px solid red; */
    text-decoration: none;
    font-family: var(--notoSans);
    font-size: 24px;
    box-sizing: border-box;
    color: var(--color5);

    /* border-bottom: 2px solid var(--color5); */
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    color: var(--color1);
    /* border-bottom: 2px solid var(--color1); */
  }
}

.hamburguerMenu {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  color: var(--color5);
  order: 2;
}

.hamburguerMenu:hover {
  color: var(--color1);
  cursor: pointer;
}

.closeMenu {
  order: 2;
  width: 32px;
  height: 32px;
  color: var(--color5);
}

.closeMenu:hover {
  color: var(--color1);
  cursor: pointer;
}

.misSkills {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1250px) {
  .navbar {
    padding: 0px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 15px;
  }

  .itemsUl {
    display: flex;
    order: 2;
    gap: 36px;
    cursor: pointer;
  }
  .logo {
    order: 1;
    width: 237px;
    height: 47px;
  }
  .linkBtn {
    order: 3;
  }
  .btnContact {
    /* order: 3; */
    width: 189px;
    height: 44px;
    border: 3px solid var(--color1);
    background-color: transparent;
    border-radius: 8px;
    font-family: var(--notoSans);
    font-weight: 500;
    font-size: 20px;
    color: var(--color1);
    cursor: pointer;
  }
  .btnContact:hover {
    background-color: var(--color1);
    color: var(--color5);
  }
}

@media screen and (max-width: 390px) {
  .logo {
    width: 50vw;
  }
  .navbar {
    height: auto;
  }
}
