.aboutMe {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 151px 20px 0 20px;
  /* border: 1px solid blue; */
}

.name {
  font-family: var(--notoSans);
  color: var(--color2);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.title {
  font-family: var(--notoSerif);
  color: var(--color3);
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 32px;
  line-height: 66px;
}

.paragraph {
  font-family: var(--notoSans);
  color: var(--color4);
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  strong {
    color: black;
    font-weight: 500;
  }
}

.photoSection {
  /* border: 3px solid blue; */
  width: auto;
  height: auto;
  border: 2px solid black;
}

.photography {
  width: auto;
  height: auto;
  /* border: 1px solid red; */
  /* border: 1px solid red; */
  /* left: 0; */
  /* border: 1px solid red; */
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 10.2vw;
    line-height: 13vw;
  }
  .photography {
    width: 100vw;
  }

  .aboutMe {
    padding: 100px 20px 0 20px;
    
  }
}
